.accordion-situation {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


ul {
	list-style-type: none;
}



/** =======================
 * Contenedor Principal
 ===========================*/


 .accordion-situation {
 	width: 80% !important;
 	margin: 30px auto 20px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion-situation .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #863e5d;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion-situation li:last-child .link {
	border-bottom: 0;
}

.accordion-situation li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #863e5d;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion-situation li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion-situation li.open .link {
	color: #b63b4d;
}

.accordion-situation li.open i {
	color: #b63b4d;
}
.accordion-situation li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion-situation li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #f1f1f1;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }
 
 .submenu span:before {
     content: "\f105";
     font-family: FontAwesome;
 }



