<div class="bottom-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="btn-footer">
          <a href="../login">Accès Prestataire</a>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="btn-footer">
          <a href="../mentionsLegales">Mentions légales</a>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="btn-footer">
          <a href="../agrementHabilitation">Agrément habilitation</a>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="btn-footer">
          <a href="../doc" target="_blank">Pièces à fournir</a>
        </div>
      </div>
    </div>
  </div>
</div>
