<div class="bottom-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="../doc" target="_blank" style="target-new: tab;" class="lien-footer btn-vmv btn-fill-horz">Pièces à fournir</a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="../login" class="lien-footer btn-vmv btn-fill-horz">Accès Prestataire</a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="../agrementHabilitation" class="lien-footer btn-vmv btn-fill-horz">Agrément habilitation</a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="../mentionsLegales" class="lien-footer btn-vmv btn-fill-horz">Mentions légales</a>
      </div>
    </div>
  </div>
</div>
